*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;

}

.color-orange {
    color: #FD6E0A;
}

.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius:5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;



}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;

}

nav .menu li a {
    text-decoration: none;
    color: #474747;
}
/* main style */
header {
background-color: rgb(255, 242, 234);
scroll-padding-top:50px;
}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;

}